



/*Don't know how to stop it slipping off the screen when in full screen mode*/


.full:empty {
  /*background: url(../img/PepiHealth_logo_2.png) no-repeat center center fixed;*/
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
    top: 50%;
	left: 50%;
    position: absolute;
    font-family: "Aller";
    color: #72B3FF;
    font-size: 105%; 
    text-rendering: "optimizeLegibility";
    text-size-adjust: 100%;
        margin: auto;
    text-align: center;*/
    
    
    

}

.about {  
    width: 133vw; 
    height: 77vh;
    
    max-height: 80%;
    max-width: 65%;
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
    background-color: #4990E2;
    text-align: left;
    /*overflow-y: auto;  ugly way to make the div scrollable*/
    z-index: 2;
    font-size: 100%;
    text-rendering: "optimizeLegibility";
    text-size-adjust: 120%;
    letter-spacing: 0.03em;*/
    font-family: "Aller", monospace;
    color: white;
    }
    
}





body {padding-bottom: 40%;
        font-family: "Aller";
        font-size: 20px;
            }




.footer {
    position: fixed;
    bottom: 0px;
    left:0px;
    width: 100%;
    
    background-color: #cfdee7;
    color: #5e7ce2;
    text-align: center;
    z-index: 100;
    font-size: 75%;
    text-rendering: "optimizeLegibility";
    text-size-adjust: 100%;
    padding: 1rem;
    letter-spacing: 0.03em;
    line-height: 2;
    font-family: "Aller", monospace;
    color: #4472CA;
    }

    
    
}

.footer glypha{
    font-family: "Aller_lt", monospace;
}  

.footer a:link {
    color:#5e7ce2
}
.footer a:hover {
    color:#72b3ff
}
    

.landing-page_navigation {
    font-family: "Aller", monospace;
    font-size: 1em;
    position: static;
    width: 100%;
    align-content: center;
    text-rendering: "optimizeLegibility";
    text-size-adjust: 100%;
    text-align: center;
    display: block;
    /*margin: 0 0.66em;*/
    
}

#nav {
    
}





td {
    width:auto
}

.nav {
    position: fixed;
    z-index:1;
    width:100%;
    background-color: white;
    perspective: 1000%;
    display:block;
        align-items: center;
    font-family: "Aller";
    text-size-adjust: 100%;
    padding: 1rem;
    
}

.nav a:hover {color:#72b3ff;
                text-decoration: underline}
.nav a:link {color:#4472CA;
                }

    


/*playing again here to help with alignment - these can be adjusted to provide space between items - it may be a case of requiring longer shorter words, or more options to help*/
li {
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
    
}






ul {
    text-align:center
}

#stay the fuck still {
    position
}

.staying {
    /*display: inline-block;*/
    position:fixed;
    text-align: center;
    width: 100%;
    font-size: 100%;
    text-rendering: "optimizeLegibility";
    text-size-adjust: 100%;
    padding-top: 45%;
}

img {
    width:100%;
    margin: 0 auto;
}

.Caption {
    display: block;
    font-family: "Aller";
        color: #72B3FF;
}



.container_1 {
    background-color: #cfdee7;
    width: 100%;
        height: 100%;
}


#contact {
    padding-top: 25%;
    font-size: 200%;
    font-family: "Aller";
    padding: auto;
    letter-spacing: 0.25em;
    color: black;
    
}

/*.container_1 {
    width: 100%;
    color: yellow;
    height: 90%;
    max-height: 85%;
   font-size: 400%;
    margin: auto;
    position:fixed ;
    
    background-color: #cfdee7;
}*/



#scroll {
    background-color: #4990E2;
}
