

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.full {
  background: url(../img/PepiHealth_logo_2.png) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

footer p {
	    position: absolute;
    bottom: 0px;
}

body {
                padding-bottom: 20px;
            }














